<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BloodDonationPortal</display-name>
  <servlet>
    <servlet-name>DonateServlet</servlet-name>
    <servlet-class>com.src.koneti.DonateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonateServlet</servlet-name>
    <url-pattern>/DonateServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Donorpage</servlet-name>
    <servlet-class>com.src.koneti.Donorpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Donorpage</servlet-name>
    <url-pattern>/Donorpage</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>Homepage.html</welcome-file>
  </welcome-file-list>
</web-app>